/*****************************************************************************/
/* Style Overrides */
head, body {
	margin: 0;
	padding: 0;
	
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 400;
}

/*****************************************************************************/
/* Font Styles */
h1,h2,h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

h1 {
	font-size: 18px;
	
	margin: 0.33em 0 0.33em;
}

h2 {
	font-size: 16px;
}

h3 {
	font-size: 13px;
	font-weight: 700;
}

p {
}

a {
	color: #0099ff;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/*****************************************************************************/
/* Forms Styles */
input {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
}

input[type=text],input[type=password],input[type=email] {
	border: 1px solid #ccc;
	padding: 5px 10px;
}

input[type=text]:active,input[type=password]:active,input[type=email]:active {
	border: 1px solid #999;
}

input[type=submit] {
	border: 1px solid #ccc;
	padding: 5px 10px;
	background-color: white;
	margin: 0px;
}

input[type=submit]:hover {
	background-color: #ccc;
}

input[type=submit]:active {
	background-color: #999;
}

/*****************************************************************************/
/* Generic Styles */
.float-clear {
	clear: both;
}

.ajaxLoader {
	text-align: center;
}

/*****************************************************************************/
/* Layout Specific Styles */
div#header {
	background-color: #262626;
	width: 100%;
	color: white;
	border-bottom: 5px solid #444;
}

div#headerContents {
	width: 800px;
	margin: 0 auto;
	
	font-size: 16px;
	line-height: 3em;
}

div#headerContents a {
	color: white;
}

div#logo {
	float: left;
}

div#logo h1 {
	font-size: 16px;
	font-weight: 300;
	color: #aaa;
	margin: 0;
}

div#nav {
	float: left;
}

div#main-nav {
	margin-left: 0.6em;
	float: left;
}

div#main-nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

div#main-nav ul li {
	float: left;
	margin: 0;
	padding: 0;
}

div#main-nav ul li a {
	display: block;
	line-height: 3em;
	padding: 0 0.6em;
}

div#main-nav ul li a:hover {
	background-color: #444;
}

div#main-nav ul li a.current {
	background-color: #444;
}

div#sign-inout {
	float: right;
	text-align: right;
}

div#sign-inout > ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: 200px;
}

div#sign-inout > ul > li {
	margin: 0;
	padding: 0;
	position: relative;
}

div#sign-inout ul > li:hover ul {
	display: block;
}

ul#profileMenu {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: left;
	
	display: none;
	
	position: absolute;
	z-index: 1;
	width: auto;
	right: 0px;
	background-color: #444;
}

ul#profileMenu li {
	margin: 0;
	padding: 10px 20px;
	
	line-height: 1.33em;
	
	border-bottom: 1px solid #666;
}

div#notifications {
	position: absolute;
	z-index: 100;
	top: 0px;
	left: 0px;

	width: 100%;

	padding: 4px 20px;
	background-color: #ffffcc;
	border-bottom: 1px solid #eee;
}

div#content {
	margin: 0px auto;
	width: 800px;
	padding: 10px 0px;
	
	position: relative;
	z-index: 0;
}

