/*****************************************************************************/
/* Style Overrides */
head, body {
	margin: 0;
	padding: 0;
	
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 400;
}

/*****************************************************************************/
/* Font Styles */
h1,h2,h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

h1 {
	font-size: 18px;
	
	margin: 0.33em 0 0.33em;
}

h2 {
	font-size: 16px;
}

h3 {
	font-size: 13px;
	font-weight: 700;
}

p {
}

a {
	color: #0099ff;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/*****************************************************************************/
/* Forms Styles */
input {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
}

input[type=text],input[type=password],input[type=email] {
	border: 1px solid #ccc;
	padding: 5px 10px;
}

input[type=text]:active,input[type=password]:active,input[type=email]:active {
	border: 1px solid #999;
}

input[type=submit] {
	border: 1px solid #ccc;
	padding: 5px 10px;
	background-color: white;
	margin: 0px;
}

input[type=submit]:hover {
	background-color: #ccc;
}

input[type=submit]:active {
	background-color: #999;
}

/*****************************************************************************/
/* Table Styles */
table {
	width: 100%;
}

th {
	text-align: left;
}

/*****************************************************************************/
/* Generic Styles */
.float-clear {
	clear: both;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}


.ajaxLoader {
	text-align: center;
}

/*****************************************************************************/
/* Layout Specific Styles */


