.subFilesTable tr:hover {
	background-color: white;
}

form#searchFile {
    display: inline-block;
    float: right;
}

form#searchFile input[name=searchTerm] {
    width: 400px;
}

.hidden {
    display: none;
}

.searchResults {
    font-weight: bold;
}