table.assignedToMeTable {
	width: 100%;
}

table.assignedToMeTable td.assignedName {
	width: 25%;
}

td.assignedName div {
	height: 2.75em;
	overflow: hidden;
}

table.assignedToMeTable td.progBarArea {
	width: 75%;
}