.accordian h1 {
	padding: 10px;
	margin: 0px;
	font-weight: 600;
	
	float: left;
}

.accordian {
	background-color: white;
}

.accordian .accordian-header { 
	background-color: #111;
	color: white;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}

.accordian .accordian-state {
	font-weight: bold;
	padding: 10px;
	font-size: 16px;
	float: right;
}

.accordian .accordian-content {
	padding: 10px 0px;
	display: none;
}
