h1#loginHeading {
	font-size: 72px;
	display: block;
}

form#loginForm {
	margin: 32px;
}

form#loginForm input {
	width: 300px;
	display: block;
}

form#loginForm input[type=submit] {
	width: auto;
}