div.multiProgBarContainer {
	width: 100%;
	margin: 0.5em 0em;
	padding: 2px 0px;

	overflow: hidden;
}
div.multiProgBarFill {
	margin: 0;
	padding: 0;

	text-align: center;
	float: left;
	height: 1.5em;

	overflow: hidden;
}