div.tabbedContainer div.tabs {
    margin-bottom: -1px;
}

div.tabbedContainer div.tabs h1 {
    display: inline-block;
    padding: 5px;
    margin: 0px 2px;
    border: 1px solid black;
    border-bottom: 1px solid black;
    background-color: white;
}

div.tabbedContainer div.tabs h1.active {
    border-bottom: 1px solid white;
}

div.tabbedContainer div.content {
    background-color: white;
    border: 1px solid black;
    padding: 5px;
}

div.tabbedContainer div.content div {
    display: none;
}

div.tabbedContainer div.content div.visible {
    display: block;
}