div.criteriaHeader {
	margin-bottom: 10px;
	padding: 10px;
}

div.criteriaHeader div.col-left {
	width: 60%;
	padding: 5px 1%;
}

div.criteriaHeader div.col-right {
	max-width: 200px;
}

@media print {
	.screenOnly {
		display: none;
	}
}
