table.criteria {
	width: 90%;
	margin: 0 auto;
	border-collapse: collapse;
}

table.criteria td, table.criteria th {
	border: 1px solid black;
	padding: 3px;
}

table.criteria .criteria-subtotal textarea {
	min-width: 90%;
}

@media print {
	table.criteria {
		width: 100%;
	}

}
