div.table-container {
	margin: 0px 10px 20px;
}

table.criteria {
	border: 1px solid black;
	border-collapse: collapse;
}

table.criteria td, table.criteria th {
	border: 1px solid black;
	padding: 2px 5px;
	vertical-align: top;
}

table.criteria p {
	margin: 0px;
	padding: 0px;
}

tr.rowHeader {
    position: relative;
}

tr.rowHeader p {
    position: absolute;
    width: 100%;
    bottom: 0px;
    left; 0px;
}

table.criteria textarea {
    width: 99%;
}

table.criteria tr.section {
    border-top: 4px solid black;
}

p.checkedBox {
    background-color: #eee;
}

@media print {
    table.criteria textarea {
        border: 0px;
    }
}